:root {
    --color: rgb(5, 5, 5);
    --background-color: rgb(250, 250, 250);
    --link-color: rgb(76, 163, 197);
    --main-headline-color: rgb(250, 250, 250);
    --accent-background-color: rgb(250, 250, 250);
    --accent-color: #fafafa;
  }

.punk{ 
    color: rgba(196, 17, 17, 0.856); 
}
.bcd{
    color: rgb(0, 0, 0); 
}
.othera{ 
    color: rgb(255, 0, 0); 
    
}

a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
  }
a:hover {
    color: #947859;
    text-decoration: underline;
  }